@tailwind base;
@tailwind components;
@tailwind utilities;

/* Nếu bạn muốn custom thêm */
.btn-primary {
  @apply bg-indigo-500 hover:bg-indigo-600 text-white font-medium px-4 py-2 rounded-lg transition;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.15s ease-out;
}
@keyframes fadeSlide {
  0% { opacity: 0; transform: translateY(-5px); }
  100% { opacity: 1; transform: translateY(0); }
}
.animate-fadeSlide {
  animation: fadeSlide 0.25s ease-out;
}
.swiper-button-next,
.swiper-button-prev {
  color: #333 !important;
  background: rgba(255, 255, 255, 0.8);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  backdrop-filter: blur(6px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  transition: all 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: white;
  transform: scale(1.1);
}
